<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.greedygame.example.andorid"
	android:versionCode="2"
	android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
		android:screenOrientation="landscape" >
		
	    <activity android:name="com.greedygame.example.andorid.SplashScreenActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
    
		<activity 
		    android:name="com.greedygame.example.andorid.AnimatedActivity">
		</activity>

				<activity 
		    android:name="com.greedygame.example.andorid.NativeActivity" 
		    
            >
		</activity>
		
		<!-- GreedyGame SDK's requirements start -->
		<activity
		    android:name="com.greedygame.android.AdHeadActivity"
			android:theme="@style/Theme.Transparent" >
		</activity>
		
	   	<receiver 
	        	android:name="com.greedygame.android.GreedyRefReceiver" 
	        	android:enabled="true" 
	        	android:exported="true"
	        	android:priority="100">
	      <intent-filter>
	        <action android:name="com.android.vending.INSTALL_REFERRER" />
	        <action android:name="com.greedygame.panel.TEST_CAMPAIGN" />
	      </intent-filter>
	    </receiver>
		<!-- GreedyGame SDK's requirements end -->
		
	</application>
	
	<!-- GreedyGame SDK's requirements start -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- GreedyGame SDK's requirements end -->

</manifest>