<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.greedygame.example.andorid"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="2"
          android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Sample App"
        tools:replace="label"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.greedygame.android.core.mediation.mopub.GGMoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.GGTransparent">
        </activity>

        <activity
            android:name="com.greedygame.android.core.mediation.facebook.GGFacebookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.GGTransparent">
        </activity>


        <activity
            android:name="com.greedygame.example.andorid.MainActivity"
            android:configChanges="orientation|screenSize"

            android:launchMode="singleTask"
            android:label="Sample App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.greedygame.android.core.campaign.uii.web.GGWebActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|screenLayout|layoutDirection|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GGTransparent">
        </activity>
        <activity
            android:name="com.greedygame.android.core.campaign.uii.video.GGVideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|screenLayout|layoutDirection|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GGTransparent">
        </activity>
        <activity
            android:name="com.greedygame.android.core.mediation.admob.GGAdMobActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|screenLayout|layoutDirection|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GGTransparent">
        </activity>

        <activity
            android:name="com.greedygame.android.core.mediation.greedygame.GGS2SActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|screenLayout|layoutDirection|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GGTransparent">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f17bcdbe0df7f88d8ededccc7d7448ff047c3126"
            tools:replace="android:value"
            />

    </application>

    <!-- GreedyGame SDK's requirements start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- GreedyGame SDK's requirements end -->

</manifest>