<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.greedygame.example.andorid"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="2"
          android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"/>


    <application
        android:icon="@drawable/ic_launcher"
        android:label="Sample App"
        tools:replace="label"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.greedygame.example.andorid.MainActivity"
            android:label="Sample App"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f17bcdbe0df7f88d8ededccc7d7448ff047c3126"
            />

    </application>

    <!-- GreedyGame SDK's requirements start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- GreedyGame SDK's requirements end -->

</manifest>